<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Stupid coaching</title>
</head>
<body>
  <h1>Stupid coaching</h1>

  <div>
    <p><%= params["question"] %></p>
    <p class="participant">- You</p>
  </div>

  <div>
    <p id="coach"><%= @answer %></p>
    <p class="participant">- Your coach</p>
  </div>

  <p id="backlink"><%= link_to "Ask a new question", ask_path %></p>

</body>
</html>
